h1 {
    text-align: center;
    color: red;

}

p {
    width: 800px;
    margin: 0 auto;
    text-align: justify;
    color:brown;
}

#main {
    color:white;
    background-color: black;
}

.A {
    border:5px solid black;
    padding: 0 10px 20px 30px;
    background-color: azure;
}